body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.abmButton {
    border-radius: 4px ;
    background-color: #37919B;
    color: white;   
}
p { 
    max-width: 400px;
}
header {
    display: flex;
    flex-direction: row;
}
header ul { 
    list-style-type: none;
}
nav {
    display: flex;
    flex-direction: row;
   }
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 16px 0px 16px;
}
h1 {
  font-size: 34px; 
}
h2 {
    font-size: 32px;
    white-space: nowrap;
}
.heading {
    display: flex;
    justify-content: center;
}
li { 
    padding: 16px; /* ? */
}
.subHeading {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
section {
    display: flex;
    justify-content: center;   
}
.content {
    display: flex;
    flex-direction: row;
    width: 75%;
}
.words {
    display: flex;
    width: 50%;
}
.heroImg {
    width: 100%;
    height: auto;
        
}
.heroContainer {
    width: 50%;
    padding: 15px 0px 0px 50px;
    max-width: 300px;
    min-width: 200px;
}
footer {
    background-color: #373738;
}
footer ul { 
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: white;
    list-style-type: none;
}
.button1 {
    display: flex;
    justify-content: center;
    padding: 30px;
}
button {
    border-radius: 4px ;
    background-color: #37919B;
    color: white; 
    border: none; 
    padding: 10px;
    font-size: 14px;
}
.skillsContainer {
    display: flex;
    justify-content: center;  
}
.skills {
    display: flex;
    justify-content: space-around;  
}
@media only screen and (max-width: 650px) {
  body { background-color: gray;}
}

